@font-face {
  font-family: "Flow Circular";
  src: url("/assets/flow-typeface/Circular/fonts/webfonts/FlowCircular-Regular.woff2");
}

*.obfuscate-extension-obfuscated:not(#super-specific-selector-to-override-important.super-specific-class-to-override-important) {
  font-family: "Flow Circular" !important;
}

/* Images with non-empy alt text probably have discernible text; blur those. */
*.obfuscate-extension-obfuscated:not(#super-specific-selector-to-override-important.super-specific-class-to-override-important) img[alt]:not([alt=""]) {
  filter: contrast(90%) blur(10px);
}
